body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0 }
body, button, input, select, textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size:100% }
address, cite, dfn, em, var { font-style:normal }
code, kbd, pre, samp { font-family:tahoma, arial, \5b8b\4f53, sans-serif; }
small { font-size:12px }
ul, ol { list-style:none }
fieldset, img { border:0 }
img { vertical-align:middle }
button, input, select, textarea { font-size:100% }
table { border-collapse:collapse; border-spacing:0 }
textarea { resize:vertical }
article, aside, dialog, details, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent }
article, aside, dialog, details, figure, footer, header, hgroup, nav, section, summary { display:block }
#header, #content, #footer { margin-left:auto; margin-right:auto }
.col-main { float:left; width:100%; min-height:1px }
.col-sub, .col-extra { float:left }
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after { content:'\20'; display:block; height:0; clear:both }
.layout, .main-wrap, .col-sub, .col-extra { *zoom:1
}
.grid-s190m0e190 .main-wrap { margin:0 190px 0 190px }
.grid-s190m0e190 .main-index { margin:0 0 0 190px }
.grid-s190m0e190 .col-sub { width:190px; margin-left:-100% }
.grid-s190m0e190 .col-extra { width:190px; margin-left:-190px }
.dk-sug-tips li:after, .search-result .search-detail:after, .book-list .book-info:after, .book-detail .book-desc:after, #container:after, #global-head:after, .section:after, .clearfix:after { content:""; display:block; height:0; overflow:hidden; visibility:hidden; clear:both }
.cf:before, .cf:after { content:""; display:block }
.cf:after { clear:both }
.dk-sug-tips li, .search-result .search-detail, #global-head, .book-list .book-info, .book-detail .book-desc, #container, .section, .clearfix, .cf { _zoom:1 }
#global-foot { background:#fff; border-top:1px solid #ededed; width:960px; margin:0 auto; text-align:center; line-height:25px; color:#666; padding-top:20px; margin-top:20px; }
#global-foot div { width:960px; margin:5px auto }
#global-foot p, #global-foot a { color:#aaa }
.ft-about { overflow:hidden; line-height:1.2; margin-left:15px; margin-top:5px; float:right }
.ft-about a { float:left; border-left:1px solid #aaa; margin-left:-1px; padding:0 10px }
#global-foot .site-meta { float:left; color:#ababab }
.baidu-analytic { height:0; overflow:hidden }
.ie6 .site-search { margin-left:26px }
.ie6 .index .site-search { float:none; margin:30px auto 15px }
.ie6 .board-switch { overflow:hidden; height:40px }
.ie .b-all-switch .b-all { margin-top:4px }
html { overflow-y:scroll }
body { background:#fff }
#global-head, #container { width:960px; margin-left:auto; margin-right:auto ; display:block;}
#container{overflow:hidden;}
#container { padding-bottom:5px; margin-top:15px; z-index:1 }
a { color:#333; text-decoration:none }
a:hover { text-decoration:underline }
:focus { outline:0 none }
.hidden { display:none }
.nbem { display:inline-block; width:1em; _zoom:1 }
.hl { color:#df650e }
.clear { clear:both }
.horn-down, .horn-right, .switch-desc i { position:relative; top:-1px; border-style:solid dashed dashed; border-color:transparent; border-top-color:#c0c0c0; display:-moz-inline-box; display:inline-block; font-size:0; height:0; line-height:0; width:0; border-width:3px 3px 0; padding-top:1px; left:4px }
.horn-right { border-style:dashed dashed dashed solid; border-left-color:#c0c0c0; border-width:3px 0 3px 3px; padding-left:1px }
.tag-category .main, .book-detail .main, .netbook-detail .main, .search-result .main { padding-right:50px }
.main header { color:#ff830b; font-size:22px; line-height:22px; padding-bottom:5px }
.side { font-size:12px; line-height:28px; float:right; border-left:1px solid #f2f2f2; margin-left:-1px }
.side h3 { color:#686868; font-weight:bold; font-size:14px; line-height:23px; padding:0 0 10px 25px }
.side table { margin-left:10px }
.side td { text-align:center; vertical-align:top; width:56px; padding-left:15px; margin-right:35px; text-align:center; line-height:18px; padding-bottom:10px }
.side td img { width:56px; height:80px; display:block; margin:0 auto 10px }
.side td a { color:#707070 }
.side ul { margin-bottom:35px; padding-left:30px }
.menu { padding-right:30px }
.menu h2 { color:#ff830b; font-size:14px; line-height:18px; padding-bottom:10px }
.menu a { display:inline-block; line-height:20px; margin-bottom:5px; color:#686868 }
.menu2 h2 { color:#ff830b; font-size:14px; line-height:18px; padding-bottom:10px }
.menu2 a { display:inline-block; line-height:20px; margin-bottom:5px; color:#686868 }
#wrapper { border-top:30px solid #62a60a }
.shadow { border-left:0 none; border-right:0 none; position:absolute; top:30px; z-index:-1; background-color:#f5f5f5; height:120px; width:100%; border-top:1px solid #3a590b; border-bottom:1px solid #ededed }
#global-head { height:167px; position:relative; margin-top:-32px; z-index:8; }
.site-navigation { width:450px;height:30px; overflow:hidden; float:left }
.site-navigation a { float:left; padding:0 15px; margin:8px 0 8px -1px; height:14px; font-size:12px; line-height:16px; _line-height:20px; color:#f0f0f0; text-align:center; border-left:1px solid #7caf3a }
.site-navigation .home { padding:0 15px 0 20px; background:url(../images/home.png) no-repeat 0 50%; border-left:0 none }
.site-logo { float:left; clear:both; padding-top:23px }
.site-logo a { display:block; width:246px; height:81px; overflow:hidden; cursor:pointer }
.site-search { float:left; background:url(../images/search-bg.png) no-repeat 0 0; width:590px; margin:40px 0 0 20px; height:46px; position:relative }
.site-search input { float:left; margin:8px 10px 12px; border:0 none; width:464px; height:26px; line-height:26px; padding:0; font-size:16px; background:transparent; position:relative; z-index:3; color:#666; }
.site-search input#searchbuttom{ width:95px; height:37px; margin-top:0; margin-right:0;}
.site-search span { float:left; border:none; position:relative; overflow:hidden; margin:8px 0px 12px; cursor:pointer; }
.site-search .searchtype { float:left; width:90px; margin:-2px -22px -2px -2px; font-size:15px; color:#999999; }
.site-search button { float:left; border:0 none; width:95px; height:40px; overflow:hidden; text-indent:-10em; background:transparent; cursor:pointer; margin-left:10px; }
.search-info { clear:both; line-height:23px; padding-left:10px; color:#bcbcbc }
.hot-key { margin-top:5px; clear:both; color:#73818c }
.hot-key a { margin-left:1em; color:#555 }
.banner img { margin-top:30px }
.hd-follow { float:right; height:33px; line-height:32px; text-align:center; color:#fff; width:345px; }
.follow-third { display:inline-block; margin-left:5px; width:18px; height:18px; overflow:hidden; background:url(../images/follow.png) no-repeat 0 0; text-indent:10em; vertical-align:middle }
.follow-third-tsina { background-position:0 0 }
.follow-third-tsina:hover { background-position:0 -50px }
.follow-third-qq { background-position:-50px 0 }
.follow-third-qq:hover { background-position:-50px -50px }
.follow-third-sohu { background-position:-100px 0 }
.follow-third-sohu:hover { background-position:-100px -50px }
.follow-third-163 { background-position:-150px 0 }
.follow-third-163:hover { background-position:-150px -50px }
.share-third { background:url(../images/follow.png) no-repeat 0 0 }
.share-third-tsina { background-position:0 -100px }
.share-third-qq { background-position:-50px -100px }
.share-third-sohu { background-position:-100px -100px }
.share-third-163 { background-position:-150px -100px }
.share-third-qqkj { background-position:0 -150px }
.share-third-renren { background-position:-50px -150px }
.share-third-kaixin { background-position:-100px -150px }
.share-third-douban { background-position:-150px -150px }
.tag-category .page-list, .book-list .page-list, .search-result .page-list { margin-top:25px }
.page-list { text-align:left }
.page-list a, .page-list .on, .page-list strong { border:1px solid #d2d2d2; background:#f2f2f2; color:#969696; font-size:14px; display:inline-block; width:24px; height:24px; line-height:24px; text-align:center }
.page-list em { border:1px solid #d2d2d2; background:#f2f2f2; color:#969696; font-size:14px; display:inline-block; height:24px; line-height:24px; text-align:center }
.page-list .on, .page-list strong { border-color:#727272; background:#727272; color:#fff; font-weight:bold }
.page-list input { height:18px; line-height:18px; width:18px; }
.page-list a, .page-list strong, .page-list em { margin-right:5px; }
.page-list em, .page-list kbd { display:none; }
.dk-sug-placehold { color:#999 }
.dk-sug-tips { width:492px; position:absolute!important; border:1px solid #c8c8c8; padding:1px; background:#f9f9f9; top:107px; left:186px; z-index:10; color:#636363; padding:5px 0; _top:107px; _left:192px; _zoom:1 }
.dk-sug-placehold { position:absolute; top:8px; left:13px; font-size:16px; z-index:0 }
.index .dk-sug-tips { top:284px; left:185px }
.dk-sug-tips li { font-size:14px; line-height:28px; padding:0 3px }
.dk-sug-tips .actived { background:#ebebeb }
.dk-sug-tips .dk-sug-num { float:right; font-size:12px; color:#c1c1c1; vertical-align:bottom; display:none }
.dk-sug-tips .dk-sug-title { display:inline-block; width:290px; overflow:hidden; margin-left:4px; white-space:nowrap; text-overflow:ellipsis; _zoom:1 }
.dk-dialog-wrap { width:100%; height:100%; position:absolute; left:0; top:0 }
.dk-dialog-box { width:480px; padding:20px 25px; border:5px solid #77c315; background:#fff; box-shadow:0 3px 5px rgba(0, 0, 0, .5); position:absolute; left:50%; margin-left:-240px; top:200px; z-index:11 }
.dk-dialog-hd { font-size:22px; color:#4f8d12 }
.dk-dialog-desc { font-size:14px; color:#999; padding-bottom:10px; border-bottom:1px solid #ededed }
.dk-dialog-term { font-size:14px; color:#999; padding-top:10px; border-top:1px solid #ededed }
.dk-dialog-close { position:absolute; right:25px; top:25px; width:25px; height:25px; font-size:15px; text-align:center; border:1px solid #d0d0d0; background:#f5f5f5; color:#adadad; cursor:pointer }
.dk-dialog-close:hover { text-decoration:none }
.dk-dialog-shadow { width:100%; height:100%; background:#000; background:-webkit-radial-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) 80%); background:-moz-radial-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) 80%); background:radial-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) 80%); opacity:.6; filter:alpha(opacity=40); zoom:1 }
.dk-dialog-bd .download-links li { margin:10px 0; width:480px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#4a8d2d }
.dk-dialog-bd .download-links a:hover { text-decoration:none }
.dk-dialog-bd .download-links strong { text-transform:uppercase; color:#ff830b; display:inline-block; width:50px }
.dk-dialog-bd .download-links em { display:inline-block; width:60px; color:#686868 }
.msg { display:block; border-width:1px; border-style:solid; padding:5px 10px; color:#404040; margin-bottom:20px }
.msg-inline { display:inline }
.info { background-color:#ddf4fb; border-color:#c6edf9 }
.ok { background-color:#d1eed1; border-color:#bfe7bf }
.error { background-color:#fddfde; border-color:#fbc7c6 }
.warn { background-color:#fdf5d9; border-color:#fceec1 }
#dialog { position:absolute; top:0px; left:0px; border:16px solid #ebebeb; background: #fff; font-size: 12px; line-height:120%; visibility: hidden; color:#666; }
/**#dialog1 { position:absolute; top:0px; left:0px; border:16px solid #ebebeb; background: #fff; font-size: 12px; line-height:120%; visibility: hidden; color:#666; }**/
#mask { position:absolute; top:0px; left:0px; background: #777777; filter: Alpha(opacity=30); opacity: 0.3; }
table.grid { border-collapse: collapse; padding: 3px; margin: auto; }
table.grid caption, .gridtop { background: #ecf5fa; vertical-align: middle; text-align: center; padding: 3px; color:#009900; font-weight: bold; font-size:16px; margin: auto; height:37px; line-height:37px; text-align:left; padding-left:20px; margin-bottom:20px; }
table.grid caption a { float:right; height:22px; line-height:22px; margin-right:10px; display:inline; color:#ff6600; font-size:18px; }
table.grid th, .head { border: 1px solid #E7E7E7; background: #f5f5f5; color:#054e86; text-align: center; font-weight: bold; font-size: 12px; padding: 3px; }
table.grid td { padding: 3px; background-color: #ffffff !important; }
table.grid td.userN { background:url(../images/common2.png) no-repeat 20px -126px; }
table.grid td.psd { background:url(../images/common2.png) no-repeat 20px -167px; }
table.grid td.odd { text-align:right; padding-left:20px; }
table.grid td.again { background:url(../images/common2.png) no-repeat 17px -209px; }
table.grid td.emails { background:url(../images/common2.png) no-repeat 17px -252px; }
#dialog table.grid td.psd { background:url(../images/common2.png) no-repeat 20px -167px; }
#dialog table.grid td.again { background:url(../images/common2.png) no-repeat 17px -209px; }
#dialog table.grid td.emails { background:url(../images/common2.png) no-repeat 17px -252px; }
#dialog table.grid td.odd { text-align:right; padding-left:20px; }
/**#dialog1 table.grid td.psd { background:url(../images/common2.png) no-repeat 20px -167px; }
#dialog1 table.grid td.again { background:url(../images/common2.png) no-repeat 17px -209px; }
#dialog1 table.grid td.emails { background:url(../images/common2.png) no-repeat 17px -252px; }
#dialog1 table.grid td.odd { text-align:right; padding-left:20px; }**/
table.grid tr { height:40px; line-height:40px; }
table.grid tr input.text { height:22px; width:378px; padding:3px; line-height:22px; border-bottom:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-top:1px solid #999; border-left:1px solid #999; }
table.hideline, table.hideline th, table.hideline td { border: 0; }
table.mygrid { border-collapse: collapse; border: 1px solid #E7E7E7; padding: 3px; margin: 5px auto; }
table.mygrid caption, .gridtop { border: 1px solid #E7E7E7; background: #e9f1f8; vertical-align: middle; text-align: center; padding: 3px; color:#054e86; font-weight: bold; font-size: 14px; margin: auto; }
table.mygrid th, .head { border: 1px solid #E7E7E7; background: #f5f5f5; color:#054e86; text-align: center; font-weight: bold; font-size: 12px; padding: 3px; }
table.mygrid td { border: 1px solid #E7E7E7; padding: 3px; background-color: #ffffff !important; }
table.mygrid .button { background: #f5f5f5; border: 1px solid #E7E7E7; height: 24px; padding: 2px 0px 0px 0px; }
/**謌醍噪謾ｶ阯�豬剰ｧ郁ｮｰ蠖�*/
.myhide { float:right; position:relative; margin-left:3px; display:inline; z-index:10; width:69px; }
.myhide a.hides { padding:0 5px; color:#fff; height:31px; line-height:31px; background: url(../images/common2.png) no-repeat right -41px; float:left; padding-right:12px; border-top:1px solid #c8c8c8; }
.hd-follow .myhide a.select { background: url(../images/common2.png) no-repeat right -92px; color:#666; background-color:#fff; border-top:1px solid #64a60c; }
.submit { width:86px; height:31px; border:0; background:url(../images/common1.png) no-repeat -164px -101px; text-align:center; line-height:31px; font-size:14px; color:#fff; font-weight:bold; }
.pl10 { padding-left:10px; font-size:14px; }
#submit { width:86px; height:31px; border:0; background:url(../images/common1.png) no-repeat -164px -101px; text-align:center; line-height:31px; font-size:14px; color:#fff; font-weight:bold; }
.pl10 { padding-left:10px; font-size:14px; }
#dialog2 .pl10 a { color:#107bcc; }
#dialog1 .pl10 a { color:#107bcc; }
.usebord{ border-bottom:1px solid #e7e7e7;}
.errorMessage {color: #FF0000;font-weight: bold;}